body {
    margin: 0
  }
  * {
    box-sizing: border-box;
  }
  
  .nettisivu{display: flex;}
  .yläpalkki{display: flex;}
  .yläpalkki__ylärivi{display: flex;}
  .yläpalkki__ylärivi__otsikko{display: flex;}
  .yläpalkki__ylärivi__otsikko__linkki{display: flex;}
  .yläpalkki__ylärivi__hakupalkki{display: flex;}
  .yläpalkki__ylärivi__hakupalkki__kenttä{display: flex;}
  .toiminnot{display: flex;}
  .toiminnot__kirjaudu-luo{display: flex;}
  .toiminnot__ostoskori{display: flex;}
  .yläpalkki__alarivi{display: flex;}
  .kategoriat{display: flex;}
  .kategoriat__kategoria{display: flex;}
  .kategoriat__kategoria__linkki{display: flex;}
  .alapalkki{display: flex;}
  .alapalkki__yläosa{display: flex;}
  .alapalkki__yläosa__yläosa{display: flex;}
  .alapalkki__yläosa__yläosa__sarake{display: flex;}
  .asiakaspalvelu{display: flex;}
  .asiakaspalvelu__otsikko{display: flex;}
  .asiakaspalvelu__aukioloajat{display: flex;}
  .asiakaspalvelu__puhelin{display: flex;}
  .asiakaspalvelu__puhelin__ikoni{display: flex;}
  .asiakaspalvelu__puhelin__numero{display: flex;}
  .asiakaspalvelu__sähköposti{display: flex;}
  .asiakaspalvelu__sähköposti__ikoni{display: flex;}
  .asiakaspalvelu__sähköposti__gmail{display: flex;}
  .yritysmyynti{display: flex;}
  .yritysmyynti__otsikko{display: flex;}
  .yritysmyynti__aukioloajat{display: flex;}
  .yritysmyynti__puhelin{display: flex;}
  .yritysmyynti__puhelin__ikoni{display: flex;}
  .yritysmyynti__puhelin__numero{display: flex;}
  .yritysmyynti__sähköposti{display: flex;}
  .yritysmyynti__sähköposti__ikoni{display: flex;}
  .yritysmyynti__sähköposti__gmail{display: flex;}
  .myymälä-turku{display: flex;}
  .myymälä-turku__otsikko{display: flex;}
  .myymälä-turku__aukioloajat{display: flex;}
  .myymälä-turku__aukioloajat__lauantaina{display: flex;}
  .myymälä-turku__maksuvälineet{display: flex;}
  .myymälä-turku__sijainti{display: flex;}
  .myymälä-turku__sijainti__ikoni{display: flex;}
  .myymälä-turku__sijainti__katu{display: flex;}
  .yhteisöt{display: flex;}
  .yhteisöt__otsikko{display: flex;}
  .yhteisöt__somet{display: flex;}
  .yhteisöt__some{display: flex;}
  .yhteisöt__some__facebook{display: flex;}
  .yhteisöt__some__instagram{display: flex;}
  .yhteisöt__some__twitter{display: flex;}
  .yhteisöt__some__youtube{display: flex;}
  .yhteisöt__some__tiktok{display: flex;}
  .yhteisöt__some__linked{display: flex;}
  .uutiskirje{display: flex;}
  .uutiskirje__otsikko{display: flex;}
  .uutiskirje__mainos{display: flex;}
  .uutiskirje__tilaus-ikoni{display: flex;}
  .alapalkki__yläosa__alaosa{display: flex;}
  .info{display: flex;}
  .info__otsikko{display: flex;}
  .info__kategoriat{display: flex;}
  .info__kategoria{display: flex;}
  .info__kategoria__yhteystiedot{display: flex;}
  .info__kategoria__yhteystiedot__ikoni{display: flex;}
  .info__kategoria__yhteystiedot__linkki{display: flex;}
  .info__kategoria__toimitus{display: flex;}
  .info__kategoria__toimitus__ikoni{display: flex;}
  .info__kategoria__toimitus__linkki{display: flex;}
  .info__kategoria__maksutavat{display: flex;}
  .info__kategoria__maksutavat__ikoni{display: flex;}
  .info__kategoria__maksutavat__linkki{display: flex;}
  .info__kategoria__palautus{display: flex;}
  .info__kategoria__palautus__ikoni{display: flex;}
  .info__kategoria__palaustus__linkki{display: flex;}
  .info__kategoria__palvelut{display: flex;}
  .info__kategoria__palvelut__ikoni{display: flex;}
  .info__kategoria__palvelut__linkki{display: flex;}
  .info__kategoria__kysymykset{display: flex;}
  .info__kategoria__kysymykset__ikoni{display: flex;}
  .info__kategoria__kysymykset__linkki{display: flex;}
  .info__kategoria__yritysmyynti{display: flex;}
  .info__kategoria__yritysmyynti__ikoni{display: flex;}
  .info__kategoria__yritysmyynti__linkki{display: flex;}
  .info__kategoria__työpaikka{display: flex;}
  .info__kategoria__työpaikka__ikoni{display: flex;}
  .info__kategoria__työpaikka__linkki{display: flex;}
  .info__kategoria__tuoteturva{display: flex;}
  .info__kategoria__tuoteturva__ikoni{display: flex;}
  .info__kategoria__tuoteturva__linkki{display: flex;}
  .shop-in-shops{display: flex;}
  .shop-in-shops__otsikko{display: flex;}
  .shop-in-shops__kategoriat{display: flex;}
  .shop-in-shops__kategoria{display: flex;}
  .shop-in-shops__kategoria__linkki{display: flex;}
  .artikkelit-ja-blogi{display: flex;}
  .artikkelit-ja-blogi__otsikko{display: flex;}
  .artikkelit-ja-blogi__kategoriat{display: flex;}
  .artikkelit-ja-blogi__kategoria{display: flex;}
  .artikkelit-ja-blogi__kategoria__oppaat{display: flex;}
  .artikkelit-ja-blogi__kategoria__blogi{display: flex;}
  .sertifikaatit-ja-palkinnot{display: flex;}
  .sertifikaatit-ja-palkinnot__otsikko{display: flex;}
  .sertifikaatit-ja-palkinnot__ikonit{display: flex;}
  .sertifikaatit-ja-palkinnot__ikoni{display: flex;}
  .alapalkki__alaosa{display: flex;}
  .alapalkki__alaosa__ehdot{display: flex;}
  .alapalkki__alaosa__ehdot{display: flex;}
  .alapalkki__alaosa__ehto__takuu-ja-toimitus{display: flex;}
  .alapalkki__alaosa__ehto__tietosuoja{display: flex;}
  .alapalkki__alaosa__alarivi__copyright{display: flex;}